spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://${JDBC_DB_HOST}/${JDBC_DB_NAME}
    password: ${JDBC_DB_PASSWORD}
    username: ${JDBC_DB_USER}
    driverClassName: org.postgresql.Driver
  sql:
    init:
      platform: postgresql
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}
            authorization-grant-type: ${GOOGLE_AUTH_GRANT_TYPE:authorization_code}
            redirect-uri: "http://localhost:8080/v1/auth/google/callback"
        provider:
          google:
            token-uri: "https://oauth2.googleapis.com/token"

jwt:
  secret: ${JWT_SECRET}

auth:
  success-redirect-url: "http://localhost:5173/"
  error-redirect-url: "http://localhost:5173/login/error"

logging:
  level:
    org.springframework.security: DEBUG
